[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Bawdy Caste Website for Shock Treatment
[access "refs/*"]
	owner = group user/xtoferprime
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xtoferprime
	label-Verified = -1..+1 group user/xtoferprime
	push = group user/xtoferprime
	read = group user/xtoferprime
	rebase = group user/xtoferprime
	removeReviewer = group user/xtoferprime
	submit = group user/xtoferprime
[access "refs/heads/*"]
	create = group user/xtoferprime
	push = +force group user/xtoferprime
	pushMerge = group user/xtoferprime
	read = group user/xtoferprime
[access "refs/tags/*"]
	push = group user/xtoferprime
	push = +force group user/xtoferprime
